* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  overflow: hidden;
}

body{
     background-image: url(../background.jpg); 
    background-repeat: no-repeat, repeat;
opacity: 0.9;

    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
  }
  
  .main-search-input {
  
      background: #fff;
      padding: 0 120px 0 0;
      border-radius: 1px;
      margin-top: 10%;
;
  }
  
  .fl-wrap {
      float: left;
      width: 100%;
      position: relative;
  }
  
 
  
  .main-search-input-item {
      float: left;
      width: 100%;
      box-sizing: border-box;
      border-right: 1px solid #eee;
      height: 50px;
      position: relative;
  }
  
  .main-search-input-item input:first-child {
      border-radius: 100%;
  }
  
  .main-search-input-item input {
      float: left;
      border: none;
      width: 100%;
      height: 50px;
      padding-left: 20px;
  }
  
  .main-search-button{
     z-index: 2;
  
        background: #1c7cbc;
  }
  
  .main-search-button {
      position: absolute;
      right: 0px;
      height: 50px;
      width: 120px;
      color: #fff;
      top: 0;
      border: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      cursor: pointer;
  }
  
  .main-search-input-wrap {
      max-width: 500px;
      margin:  auto;
    
      position: relative;
  }
  
  :focus {
      outline: 0;
  }
  
  
  @media only screen and (max-width: 768px){
  .main-search-input {
      background: rgba(255,255,255,0.2);
      padding: 14px 20px 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
  }
  
  .main-search-input-item {
      width: 100%;
      border: 1px solid #eee;
      height: 50px;
      border: none;
      margin-bottom: 10px;
  }
  
  .main-search-input-item input {
      border-radius: 6px !important;
      background: #fff;
  }
  
  .main-search-button {
      position: relative;
      float: left;
      width: 100%;
      border-radius: 6px;
  }
  }
  

  .container-weather-card{
        z-index: 3;
         position: fixed;
        opacity: 0.7;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
        background-color: rgb(61, 59, 60);
        color: white;
        text-align: center;
        
      
  }

  .weather-cards{

    display: flex;
        justify-content: center; 
        align-items: center;
      
  }
  .city-name{
    font-size: 40px;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .weather-name{
    font-size: 22px;
    text-transform: capitalize;

  }
  .weather-card{
margin: 10px;
background-color: rgb(14, 43, 85);
width: 20%;
height: 20vh;
border-radius: 20px;
border: 1px solid black;

  }
  